:root {
  --main-color: #0065fc;
  --main-color-hover: #1472ff;
  --main-color-light: #deebff;
  --secondary-color: #f2f2f2;
  --border-color: #f2f2f2;

  --card-height-mobile: 220px;
  --hosting-grid-gap: 32px;
  --hosting-grid-gap-mobile: 24px;
}

*,
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: var(--main-color);
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

.section-container {
  max-width: 1640px;
  margin: auto;
  padding: 0 32px;
}

.grid-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-height: 100%;
}

.column-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*___________En tête_________________________*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 88px;
}

.brand-logo {
  padding: 5px;
}

.brand-logo > img {
  width: 100px;
}

nav,
nav > ul,
.nav-link,
.nav-link > a {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.nav-link > a {
  padding: 10px 30px;
}

.nav-link > a:hover,
.nav-link[data-active="true"] {
  border-top: var(--main-color) solid 3px;
  color: var(--main-color);
}

.nav-link > a:hover {
  padding-top: calc(10px - 3px);
}

.nav-link[data-active="true"] > a:hover {
  border-top: transparent solid 3px;
}

/*________________BODY______________________*/

main {
}

.search > h1 {
  margin-bottom: 12px;
}

.search > p {
}

.search-form {
  margin: 2% 0;
}

.search-input {
  height: 52px;
  display: flex;
}

.search-icon {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: var(--secondary-color);
  width: 60px;
  border-radius: 15px 0 0 15px;
}

.search-icon:hover :first-child {
  animation: scale-up-center 1s;
}

@keyframes scale-up-center {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.fa-location-dot {
  text-align: center;
  font-size: 19px;
  margin: auto;
}

.search-field {
  border: 1px solid var(--border-color);
  width: 200px;
  margin: 0;
}

.search-field::placeholder {
  padding-left: 12px;
  text-align: start;
  font-size: 16px;
  color: black;
  font-weight: bold;
}

.search-btn {
  width: 136px;
  background-color: var(--main-color);
  border-radius: 0 15px 15px 0;
  border: 0;
  color: white;
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.search-btn:hover {
  background-color: var(--main-color-hover);
}

.search-btn > i {
  display: none;
}

.filters {
  display: flex;
  align-items: center;
  margin: 2% 0;
  width: 100%;
}

.filters > h2 {
  margin-right: 18px;
}

.filters-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.filters-container > label,
input {
  margin: 1% 1%;
}

.filter-label {
  display: block;
  position: relative;
  padding: 16px;
  border: 2px solid var(--border-color);
  border-radius: 32px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.filter-label :first-child {
  transition: 0.3s ease-in-out;
}

.filter-label:hover :first-child {
  width: calc(100% + 6px);
}

.filters-icon {
  display: flex;
  position: absolute;
  top: -2px;
  left: -2px;
  width: 56px;
  height: 56px;
  background-color: var(--main-color-light);
  border-radius: 30px;
}

.filters-icon > i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--main-color);
  font-size: 19px;
}

.filter-label > span {
  font-weight: 700;
  padding-left: 46px;
}

.filter-checkbox {
  visibility: hidden;
  width: 0px;
  height: 0px;
  margin: 0;
  padding: 0;
}

.search-info {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 10px 0 28px;
  column-gap: 16px;
}

.search-info > i {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
  width: 20px;
  height: 20px;
  border: 2px solid var(--border-color);
  padding: 11px;
  border-radius: 50%;
}

/*________________HOSTING__________________*/

#hosting {
  display: flex;
}

.container-round {
  background-color: var(--secondary-color);
  border-radius: 20px;
  padding: 30px;
}

.left {
  width: 67%;
}

.hosting-title {
  display: flex;
  width: 100%;
  margin: 0 0 22px 0;
  justify-content: space-between;
}

.grid-container.hosting {
  row-gap: var(--hosting-grid-gap);
}

.hosting-row {
  display: flex;
  width: 100%;
  column-gap: var(--hosting-grid-gap);
}

.card-hosting {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 220px;
  background-color: white;
  border-radius: 22px;
  box-shadow: 0px 0px 10px rgb(209, 209, 209);
  transition: all 0.2s ease-in-out;
}

.card-hosting:hover {
  transform: scale(1.05);
}

a.card-hosting:hover {
  color: black;
}

.card-img {
  width: 100%;
  height: 60%;
  padding: 6px;
}

.card-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}

.card-body {
  display: flex;
  flex-direction: column;
  padding: 4px 16px;
  line-height: 24px;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
}

.card-description {
  display: flex;
  flex-wrap: wrap;
}
.card-description > p {
  margin-right: 3px;
}

.card-description[data-low-price="true"] > span {
  font-weight: bold;
}

.card-rating > i {
  color: var(--main-color);
}

.card-rating > i[data-active="false"] {
  color: rgb(185, 185, 185);
}

.show-more {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 30px;
  margin-top: 28px;
}

.show-more > button {
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
}

/*__________ Panneau latérale droit*/

.right {
  width: 31%;
  margin-left: 2%;
}

.vertical-card {
  display: flex;
  flex-direction: row;
  height: 160px;
}

.vertical-card > .card-img {
  width: 40%;
  height: 100%;
}

.vertical-card > .card-img > img {
  border-radius: 16px 0 0 16px;
}

.vertical-card > .card-body {
  position: relative;
  max-width: 60%;
  margin-top: 10px;
}

.vertical-card > .card-body > .card-rating {
  position: absolute;
  left: 16px;
  bottom: 8px;
}

.right > .column-container {
  row-gap: var(--hosting-grid-gap);
}

/*_______________ACTIVITES_______________________*/

#activities > .title-container {
  margin: 64px 0 24px;
}

.gallery-grid {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 462px;
  margin: 0 0 64px 0;
  column-gap: var(--hosting-grid-gap);
  row-gap: var(--hosting-grid-gap);
}

.gallery-col {
  display: flex;
  width: 100%;
  min-height: 100%;
  flex-direction: column;
  /* row-gap: var(--hosting-grid-gap); */
}

.gallery-row {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-gallery {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 22px;
  box-shadow: 0px 0px 10px rgb(209 209 209);
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.card-gallery:hover {
  transform: scale(1.05);
}

.card-gallery[data-width="small"] {
  height: calc(100% - var(--hosting-grid-gap));
}

.card-gallery[data-width="big"] {
  height: calc(100% + var(--hosting-grid-gap));
}

.card-img-gallery {
  width: 100%;
  height: 100%;
  position: relative;
}

.card-img-gallery > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.card-title-gallery {
  display: flex;
  align-items: center;
  justify-content: start;
  min-height: 64px;
}

.card-title-gallery > span {
  font-weight: bold;
  margin-left: 22px;
}

.card-gallery:hover {
  color: black;
}

.reverse-col {
  flex-direction: column-reverse;
}

/*_______________PIED DE PAGE_____________________*/

footer {
  max-width: 100%;
  height: 240px;
  width: 100%;
  margin: 0;
  padding: 48px 0 0 0;
  background-color: var(--secondary-color);
}

.footer-grid {
  display: flex;
  flex-direction: row;
  column-gap: 20%;
}

.footer-container {
  line-height: 32px;
}

.footer-container > strong {
  display: block;
  margin-bottom: 16px;
}
