:root {
  --main-color: #0065fc;
  --main-color-light: #deebff;
  --secondary-color: #f2f2f2;
  --border-color: #d9d9d9;

  --hosting-grid-gap: 32px;
}

*,
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Raleway, sans-serif;
}

@font-face {
  font-family: "Raleway";
  src: url("https://fonts.google.com/specimen/Raleway");
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

.section-container {
  max-width: 1440px;
  margin: auto;
  padding: 0 2rem;
}

.grid-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.column-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*___________En tête_________________________*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 88px;
}

.brand-logo {
  padding: 5px;
}

.brand-logo > img {
  width: 100px;
}

nav,
nav > ul,
.nav-link,
.nav-link > a {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.nav-link > a,
.nav-signup > a {
  padding: 2rem;
}

.nav-link > a:hover,
.nav-link[data-active="true"] {
  border-top: var(--main-color) solid 3px;
  color: var(--main-color);
}

.nav-link > a:hover {
  padding-top: calc(2rem - 3px);
}

.nav-link[data-active="true"] > a:hover {
  border-top: transparent solid 3px;
}

/*________________BODY______________________*/

main {
}

.search > h1 {
  margin-bottom: 0.4rem;
}

.search > p {
}

.search-form {
  margin: 2% 0;
}

.search-input {
  height: 60px;
  display: flex;
}

.search-icon {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: var(--secondary-color);
  width: 60px;
  border-radius: 20px 0 0 20px;
}

.fa-location-dot {
  text-align: center;
  font-size: 1.3rem;
  margin: auto;
}

.search-field {
  border: 1px solid var(--secondary-color);
  width: 200px;
  margin: 0;
}

.search-field::placeholder {
  text-align: center;
}

.search-btn {
  width: 136px;
  background-color: var(--main-color);
  border-radius: 0 20px 20px 0;
  border: 0;
  color: white;
  margin: 0;
  font-size: 1.4rem;
  font-weight: 600;
}

.filters {
  display: flex;
  align-items: center;
  margin: 2% 0;
  width: 100%;
}

.filters > h2 {
  margin-right: 18px;
}

.filters-container {
  display: flex;
  width: 100%;
}

.filters-container > label,
input {
  margin: 0 0.5%;
}

.filter-label {
  display: block;
  position: relative;
  padding: 1rem;
  border: 2px solid var(--border-color);
  border-radius: 2rem;
}

.filters-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background-color: var(--main-color-light);
  border-radius: 50%;
  transform: scale(1.1);
}

.filters-icon > i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--main-color);
  font-size: 1.2rem;
}

.filter-label > span {
  font-weight: 700;
  padding-left: 46px;
}

.filter-checkbox {
  visibility: hidden;
}

.search-info {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 10px 0 28px;
  column-gap: 16px;
}

.search-info > i {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
  width: 20px;
  height: 20px;
  border: 2px solid var(--border-color);
  padding: 11px;
  border-radius: 50%;
}

/*________________HOSTING__________________*/

#hosting {
  display: flex;
}

.container-round {
  background-color: var(--secondary-color);
  border-radius: 20px;
  padding: 30px;
}

.left {
  width: 67%;
}

.hosting-title {
  display: flex;
  width: 100%;
  margin: 0 0 22px 0;
  justify-content: space-between;
}

.grid-container.hosting {
  row-gap: var(--hosting-grid-gap);
}

.hosting-row {
  display: flex;
  width: 100%;
  column-gap: var(--hosting-grid-gap);
}

.card-hosting {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 220px;
  background-color: white;
  border-radius: 22px;
  box-shadow: 0px 0px 10px rgb(209, 209, 209);
}

.card-img {
  width: 100%;
  height: 60%;
  padding: 6px;
}

.card-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}

.card-body {
  display: flex;
  flex-direction: column;
  padding: 4px 16px;
  line-height: 24px;
}

.card-title {
  font-size: 1rem;
  font-weight: bold;
}

.card-description {
  display: flex;
}
.card-description > p {
  margin-right: 3px;
}

.card-description > span {
  font-weight: bold;
}

.card-rating > i {
  color: var(--main-color);
}

.card-rating > i[data-active="false"] {
  color: rgb(185, 185, 185);
}

.show-more {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 30px;
  margin-top: 28px;
}

.show-more > button {
  border: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

/*__________ Panneau latérale droit*/

.right {
  width: 31%;
  margin-left: 2%;
}

.vertical-card {
  display: flex;
  flex-direction: row;
  height: 160px;
}

.vertical-card > .card-img {
  width: 40%;
  height: 100%;
}

.vertical-card > .card-img > img {
  border-radius: 16px 0 0 16px;
}

.vertical-card > .card-body {
  position: relative;
  max-width: 60%;
  margin-top: 10px;
}

.vertical-card > .card-body > .card-rating {
  position: absolute;
  left: 16px;
  bottom: 8px;
}

.right > .column-container {
  row-gap: var(--hosting-grid-gap);
}
